<a href="https://colab.research.google.com/github/DanicaGuarino/DSA-CPE010-CPE21S4/blob/main/Exercise_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def AreaCircle(r):
  pi = 3.1416
  return pi*(r**2)

print ("Area is %.3f" % AreaCircle(5))

Area is 78.540

In [2]:
def AreaCircle(d):
  pi = 3.1416
  return pi*(d/2)**2

print ("Area is %.3f" % AreaCircle(5))

Area is 19.635

In [3]:
animals = ["cat", "dog", "fish"]
x = animals [0]
print (x)

cat

In [4]:
animals = ["cat", "dog", "fish"]
animals [0] = "monkey"
print (animals)

['monkey', 'dog', 'fish']

In [5]:
animals = ["monkey","cat", "dog", "fish"]
x = (len(animals))
print (x)

4

In [12]:
animals = ["monkey","cat", "dog", "fish"]
for x in animals:
  print (x)

monkey
cat
dog
fish

In [11]:
animals = ["monkey","cat", "dog", "fish"]
animals.append ("bird")
print (animals)

['monkey', 'cat', 'dog', 'fish', 'bird']

In [10]:
animals.reverse()
print (animals)

['fish', 'dog', 'cat', 'monkey']

In [9]:
animals.pop(1)
print (animals)

['monkey', 'cat', 'dog', 'fish']

In [8]:
#Inster an animal in a specific location using insert()
animals = ["monkey","cat", "dog", "fish"]
animals.insert(1, "bird")
print (animals)

['monkey', 'bird', 'cat', 'dog', 'fish']

In [7]:
#Remove the item in the specific index value using remove()
animals = ["monkey","cat", "dog", "fish"]
animals.remove("dog")
print (animals)

['monkey', 'cat', 'fish']

In [6]:
#Reverse all items in the list using reverse()
animals = ["monkey","cat", "dog", "fish"]
animals.reverse()
print (animals)

['fish', 'dog', 'cat', 'monkey']